<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Book Reccommendations</title>
    </head>
    </html>
    <body>
        <h1>Book Recommendations</h1>
        <ul>
            <% for(let i = 0; i < books.length; i++) { %>
                <li class="book">
                    <span> <%= books[i].bookName %> </span>
                    <span> <%= books[i].bookAuthor %> </span>
                    <span> <%= books[i].likes %> </span>
                </li>
            <% } %>
        </ul>
        <form action="/" method="POST">
            <input type="text" placeholder="Book" name="book">
            <input type="text" placeholder="Author" name="author">
            <input type="submit">
        </form>
        
        <script></script>
    </body>
</html>